proyecto-final/backend-services/nodered/data/flows.json
[
    {
        "id": "flow_tab_mqtt_influx",
        "type": "tab",
        "label": "MQTT \u2192 InfluxDB",
        "disabled": false,
        "info": "Recibe heartbeats del gateway y los almacena en InfluxDB"
    },
    {
        "id": "flow_tab_telegram",
        "type": "tab",
        "label": "Bot Telegram — Alertas y Consultas",
        "disabled": false,
        "info": "Bot de Telegram integrado al sistema de Geofencing Ganadero.\n\nFuncionalidades:\n1. Alerta automática cuando un módulo sale del geofence.\n2. Comando /modulos para listar módulos activos.\n3. Selección interactiva de módulo para ver ubicación y estado."
    },
    {
        "id": "flow_tab_gps_sim",
        "type": "tab",
        "label": "Dashboard \u2014 GPS Simulado",
        "disabled": false,
        "info": "Dashboard para inyectar coordenadas GPS simuladas y publicarlas por MQTT con retain"
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-geofence",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "influx_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "geofence_db",
        "name": "InfluxDB Geofence",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "ui_tab_geofence",
        "type": "ui_tab",
        "name": "Geofence Control",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ui_group_gps",
        "type": "ui_group",
        "name": "GPS Simulado",
        "tab": "ui_tab_geofence",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_fence_group",
        "type": "ui_group",
        "name": "Geofence Limits",
        "tab": "ui_tab_geofence",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3a8462147e0aff84",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "mqtt_in_heartbeat",
        "type": "mqtt in",
        "z": "flow_tab_mqtt_influx",
        "name": "Heartbeat MQTT",
        "topic": "geofence/heartbeat",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "parse_heartbeat"
            ]
        ]
    },
    {
        "id": "parse_heartbeat",
        "type": "function",
        "z": "flow_tab_mqtt_influx",
        "name": "Parsear Heartbeat",
        "func": "var data = (typeof msg.payload === \"string\") ? JSON.parse(msg.payload) : (msg.payload || {});\nvar raw = data.raw || data;\nvar rssiVal = (data.rssi !== undefined) ? data.rssi : raw.rssi;\nvar snrVal = (data.snr !== undefined) ? data.snr : raw.snr;\n\nvar fields = {\n    latitude: parseFloat(raw.lat) || 0.0,\n    longitude: parseFloat(raw.lon) || 0.0,\n    rssi: parseInt(rssiVal) || 0,\n    snr: parseFloat(snrVal) || 0.0,\n    battery: parseFloat(raw.battery) || 100.0,\n    wake_count: parseInt(raw.wake_count) || 0\n};\nvar tags = {\n    device_id: raw.device_id || \"edge-01\",\n    fence_status: raw.fence_status || \"UNKNOWN\"\n};\nmsg.payload = [fields, tags];\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "influx_write",
                "debug_heartbeat"
            ]
        ]
    },
    {
        "id": "debug_heartbeat",
        "type": "debug",
        "z": "flow_tab_mqtt_influx",
        "name": "Debug Heartbeat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "influx_write",
        "type": "influxdb out",
        "z": "flow_tab_mqtt_influx",
        "influxdb": "influx_config",
        "name": "Escribir InfluxDB",
        "measurement": "cattle_position",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "telegram_bot_config",
        "type": "telegram bot",
        "botname": "GeofenceGanaderoBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false,
        "addressfamily": "4"
    },
    {
        "id": "tg_mqtt_in_alert",
        "type": "mqtt in",
        "z": "flow_tab_telegram",
        "name": "Heartbeats (para alertas)",
        "topic": "geofence/heartbeat",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 100,
        "wires": [["tg_filter_outside"]]
    },
    {
        "id": "tg_filter_outside",
        "type": "function",
        "z": "flow_tab_telegram",
        "name": "Filtrar OUTSIDE + Formatear Alerta",
        "func": "var data = msg.payload;\nif (!data || data.fence_status !== 'OUTSIDE') {\n    return null;\n}\n\n// Calcular distancia al centro del fence (bounding box)\nvar fenceMinLat = flow.get('fence_min_lat') || global.get('fence_min_lat') || -34.9250;\nvar fenceMaxLat = flow.get('fence_max_lat') || global.get('fence_max_lat') || -34.9150;\nvar fenceMinLon = flow.get('fence_min_lon') || global.get('fence_min_lon') || -57.9600;\nvar fenceMaxLon = flow.get('fence_max_lon') || global.get('fence_max_lon') || -57.9450;\n\n// Centro del bounding box\nvar centerLat = (fenceMinLat + fenceMaxLat) / 2;\nvar centerLon = (fenceMinLon + fenceMaxLon) / 2;\n\n// Haversine simplificado para distancia en metros\nvar R = 6378137.0;\nvar dLat = (data.lat - centerLat) * Math.PI / 180;\nvar dLon = (data.lon - centerLon) * Math.PI / 180;\nvar a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n        Math.cos(centerLat * Math.PI / 180) * Math.cos(data.lat * Math.PI / 180) *\n        Math.sin(dLon/2) * Math.sin(dLon/2);\nvar dist = R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n\n// Distancia al borde más cercano del fence\nvar distToBorderLat = 0;\nif (data.lat < fenceMinLat) distToBorderLat = fenceMinLat - data.lat;\nelse if (data.lat > fenceMaxLat) distToBorderLat = data.lat - fenceMaxLat;\n\nvar distToBorderLon = 0;\nif (data.lon < fenceMinLon) distToBorderLon = fenceMinLon - data.lon;\nelse if (data.lon > fenceMaxLon) distToBorderLon = data.lon - fenceMaxLon;\n\nvar dLatBorder = distToBorderLat * Math.PI / 180;\nvar dLonBorder = distToBorderLon * Math.PI / 180;\nvar aBorder = Math.sin(dLatBorder/2) * Math.sin(dLatBorder/2) +\n             Math.cos(data.lat * Math.PI / 180) * Math.cos(data.lat * Math.PI / 180) *\n             Math.sin(dLonBorder/2) * Math.sin(dLonBorder/2);\nvar distBorder = R * 2 * Math.atan2(Math.sqrt(aBorder), Math.sqrt(1-aBorder));\n\nvar mapsUrl = 'https://www.google.com/maps?q=' + data.lat + ',' + data.lon;\n\nvar text = '🔴 *ALERTA DE GEOFENCE*\\n\\n';\ntext += '📛 Módulo: `' + data.device_id + '`\\n';\ntext += '⚠️ Estado: *FUERA DEL PERÍMETRO*\\n\\n';\ntext += '📍 Ubicación actual:\\n';\ntext += '[Ver en Google Maps](' + mapsUrl + ')\\n\\n';\ntext += '📏 Distancia al borde del fence: *' + distBorder.toFixed(1) + ' metros*\\n';\ntext += '📏 Distancia al centro del fence: *' + dist.toFixed(1) + ' metros*\\n\\n';\ntext += '🔋 Batería: ' + (data.battery || 'N/A') + '%\\n';\ntext += '📶 RSSI: ' + (data.rssi || 'N/A') + ' dBm | SNR: ' + (data.snr || 'N/A') + '\\n';\ntext += '⏱️ Ciclo: #' + (data.wake_count || 0);\n\n// CHAT_ID del usuario para alertas proactivas\nvar chatId = 5278783015;\n\nmsg.payload = {\n    chatId: chatId,\n    type: 'message',\n    content: text,\n    options: { parse_mode: 'Markdown', disable_web_page_preview: false }\n};\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 100,
        "wires": [["tg_sender_alert"]]
    },
    {
        "id": "tg_sender_alert",
        "type": "telegram sender",
        "z": "flow_tab_telegram",
        "name": "Enviar Alerta Telegram",
        "bot": "telegram_bot_config",
        "haserroroutput": false,
        "outputs": 1,
        "x": 710,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "tg_cmd_modulos",
        "type": "telegram command",
        "z": "flow_tab_telegram",
        "name": "Comando /modulos",
        "command": "/modulos",
        "bot": "telegram_bot_config",
        "strict": false,
        "hasaliases": false,
        "aliases": "",
        "hasaliasaliases": false,
        "x": 150,
        "y": 240,
        "wires": [["tg_query_modulos"], []]
    },
    {
        "id": "tg_influx_query_modulos",
        "type": "influxdb in",
        "z": "flow_tab_telegram",
        "influxdb": "influx_config",
        "name": "Query módulos activos",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 570,
        "y": 240,
        "wires": [["tg_format_modulos"]]
    },
    {
        "id": "tg_query_modulos",
        "type": "function",
        "z": "flow_tab_telegram",
        "name": "Construir Query Módulos",
        "func": "// Guardar el chatId original para la respuesta\nflow.set('tg_modulos_chatId', msg.originalMessage.chat.id);\n\n// Query para obtener el último registro de cada device_id activo en las últimas 24h\nmsg.query = 'SELECT last(\"latitude\") AS lat, last(\"longitude\") AS lon FROM \"cattle_position\" WHERE time > now() - 24h GROUP BY \"device_id\"';\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 240,
        "wires": [["tg_influx_query_modulos"]]
    },
    {
        "id": "tg_format_modulos",
        "type": "function",
        "z": "flow_tab_telegram",
        "name": "Formatear Lista Módulos (Inline Keyboard)",
        "func": "var results = msg.payload;\nvar chatId = flow.get('tg_modulos_chatId');\n\nif (!results || results.length === 0) {\n    msg.payload = {\n        chatId: chatId,\n        type: 'message',\n        content: '📡 No hay módulos activos en las últimas 24 horas.',\n        options: { parse_mode: 'Markdown' }\n    };\n    return msg;\n}\n\n// Extraer device_ids únicos\nvar devices = [];\nvar groupResults = msg.payload;\n\n// InfluxDB GROUP BY devuelve un array de series, cada una con tags\nif (Array.isArray(groupResults)) {\n    for (var i = 0; i < groupResults.length; i++) {\n        var row = groupResults[i];\n        var devId = '';\n        // El device_id puede venir como tag en el objeto o en groupTags\n        if (row.device_id) devId = row.device_id;\n        else if (row.tags && row.tags.device_id) devId = row.tags.device_id;\n        else if (row.name) devId = row.name;\n        if (devId && devices.indexOf(devId) === -1) {\n            devices.push(devId);\n        }\n    }\n}\n\nif (devices.length === 0) {\n    msg.payload = {\n        chatId: chatId,\n        type: 'message',\n        content: '📡 No se encontraron módulos activos.',\n        options: { parse_mode: 'Markdown' }\n    };\n    return msg;\n}\n\n// Construir botones inline (un botón por módulo)\nvar keyboard = [];\nfor (var j = 0; j < devices.length; j++) {\n    keyboard.push([{ text: '📍 ' + devices[j], callback_data: '/detalle_' + devices[j] }]);\n}\n\nvar text = '📡 *Módulos Activos (' + devices.length + '):*\\n\\n';\ntext += 'Seleccioná un módulo para ver su ubicación y estado:';\n\nmsg.payload = {\n    chatId: chatId,\n    type: 'message',\n    content: text,\n    options: {\n        parse_mode: 'Markdown',\n        reply_markup: JSON.stringify({ inline_keyboard: keyboard })\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 800,
        "y": 240,
        "wires": [["tg_sender_modulos"]]
    },
    {
        "id": "tg_sender_modulos",
        "type": "telegram sender",
        "z": "flow_tab_telegram",
        "name": "Enviar Lista Telegram",
        "bot": "telegram_bot_config",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1070,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "tg_callback_detalle",
        "type": "telegram event",
        "z": "flow_tab_telegram",
        "name": "Callback Detalle Módulo",
        "bot": "telegram_bot_config",
        "event": "callback_query",
        "autoanswer": true,
        "x": 170,
        "y": 380,
        "wires": [["tg_parse_callback"]]
    },
    {
        "id": "tg_parse_callback",
        "type": "function",
        "z": "flow_tab_telegram",
        "name": "Parsear Callback → Query Detalle",
        "func": "var callbackData = msg.payload.content || '';\nvar chatId = msg.payload.chatId;\n\n// Extraer device_id del callback_data: '/detalle_edge-01' → 'edge-01'\nif (!callbackData.startsWith('/detalle_')) {\n    return null;\n}\nvar deviceId = callbackData.replace('/detalle_', '');\n\n// Guardar contexto para la respuesta\nflow.set('tg_detalle_chatId', chatId);\nflow.set('tg_detalle_deviceId', deviceId);\n\n// Query con filtro por device_id\nmsg.query = 'SELECT last(\"latitude\") AS lat, last(\"longitude\") AS lon, last(\"battery\") AS battery, last(\"rssi\") AS rssi, last(\"snr\") AS snr, last(\"wake_count\") AS wake_count FROM \"cattle_position\" WHERE \"device_id\" = \\'' + deviceId + '\\' AND time > now() - 24h';\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 380,
        "wires": [["tg_influx_query_detalle"]]
    },
    {
        "id": "tg_influx_query_detalle",
        "type": "influxdb in",
        "z": "flow_tab_telegram",
        "influxdb": "influx_config",
        "name": "Query detalle módulo",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 640,
        "y": 380,
        "wires": [["tg_format_detalle"]]
    },
    {
        "id": "tg_format_detalle",
        "type": "function",
        "z": "flow_tab_telegram",
        "name": "Formatear Detalle + Google Maps",
        "func": "var results = msg.payload;\nvar chatId = flow.get('tg_detalle_chatId');\nvar deviceId = flow.get('tg_detalle_deviceId');\n\nif (!results || results.length === 0) {\n    msg.payload = {\n        chatId: chatId,\n        type: 'message',\n        content: '❌ No se encontraron datos para el módulo `' + deviceId + '`.',\n        options: { parse_mode: 'Markdown' }\n    };\n    return msg;\n}\n\nvar r = results[0];\nvar lat = r.lat || 0;\nvar lon = r.lon || 0;\n\n// Evaluar geofence (bounding box)\nvar fenceMinLat = flow.get('fence_min_lat') || global.get('fence_min_lat') || -34.9250;\nvar fenceMaxLat = flow.get('fence_max_lat') || global.get('fence_max_lat') || -34.9150;\nvar fenceMinLon = flow.get('fence_min_lon') || global.get('fence_min_lon') || -57.9600;\nvar fenceMaxLon = flow.get('fence_max_lon') || global.get('fence_max_lon') || -57.9450;\n\nvar isInside = (lat >= fenceMinLat && lat <= fenceMaxLat &&\n               lon >= fenceMinLon && lon <= fenceMaxLon);\n\nvar statusIcon = isInside ? '🟢' : '🔴';\nvar statusText = isInside ? 'DENTRO del perímetro' : 'FUERA del perímetro';\n\nvar mapsUrl = 'https://www.google.com/maps?q=' + lat + ',' + lon;\n\nvar text = '🐄 *Detalle del Módulo:* `' + deviceId + '`\\n\\n';\ntext += statusIcon + ' Estado: *' + statusText + '*\\n\\n';\ntext += '📍 Ubicación:\\n';\ntext += '[🗺️ Ver en Google Maps](' + mapsUrl + ')\\n\\n';\ntext += '🔋 Batería: ' + (r.battery || 'N/A') + '%\\n';\ntext += '📶 RSSI: ' + (r.rssi || 'N/A') + ' dBm\\n';\ntext += '📶 SNR: ' + (r.snr || 'N/A') + '\\n';\ntext += '⏱️ Último ciclo: #' + (r.wake_count || 'N/A');\n\nmsg.payload = {\n    chatId: chatId,\n    type: 'message',\n    content: text,\n    options: { parse_mode: 'Markdown', disable_web_page_preview: false }\n};\nreturn msg;",
        "outputs": 1,
        "x": 870,
        "y": 380,
        "wires": [["tg_sender_detalle"]]
    },
    {
        "id": "tg_sender_detalle",
        "type": "telegram sender",
        "z": "flow_tab_telegram",
        "name": "Enviar Detalle Telegram",
        "bot": "telegram_bot_config",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1100,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "tg_mqtt_fence_sync",
        "type": "mqtt in",
        "z": "flow_tab_telegram",
        "name": "Sync Fence Limits",
        "topic": "geofence/config_update",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [["tg_store_fence"]]
    },
    {
        "id": "tg_store_fence",
        "type": "function",
        "z": "flow_tab_telegram",
        "name": "Guardar Fence en Flow Context",
        "func": "var data = msg.payload;\nif (data.min_lat !== undefined) { flow.set('fence_min_lat', data.min_lat); global.set('fence_min_lat', data.min_lat); }\nif (data.max_lat !== undefined) { flow.set('fence_max_lat', data.max_lat); global.set('fence_max_lat', data.max_lat); }\nif (data.min_lon !== undefined) { flow.set('fence_min_lon', data.min_lon); global.set('fence_min_lon', data.min_lon); }\nif (data.max_lon !== undefined) { flow.set('fence_max_lon', data.max_lon); global.set('fence_max_lon', data.max_lon); }\nnode.status({fill:'green', shape:'dot', text:'Fence actualizado'});\nreturn null;",
        "outputs": 1,
        "x": 410,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "tg_mqtt_fence_sync_2",
        "type": "mqtt in",
        "z": "flow_tab_telegram",
        "name": "Sync Fence Limits (legacy)",
        "topic": "geofence/fence_update",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 540,
        "wires": [["tg_store_fence"]]
    },
    {
        "id": "gps_combiner",
        "type": "function",
        "z": "flow_tab_gps_sim",
        "name": "Combinar Lat/Lon y Publicar",
        "func": "var lat = flow.get('sim_lat') || -34.9205;\nvar lon = flow.get('sim_lon') || -57.9536;\nif (msg.topic === 'lat') { flow.set('sim_lat', parseFloat(msg.payload)); return null; }\nif (msg.topic === 'lon') { flow.set('sim_lon', parseFloat(msg.payload)); return null; }\nlat = flow.get('sim_lat') || -34.9205;\nlon = flow.get('sim_lon') || -57.9536;\nmsg.payload = JSON.stringify({ lat: lat, lon: lon, timestamp: new Date().toISOString() });\nmsg.retain = true;\nnode.status({fill:'green', shape:'dot', text: lat.toFixed(4) + ', ' + lon.toFixed(4)});\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 170,
        "wires": [
            [
                "mqtt_out_simgps",
                "debug_simgps"
            ]
        ]
    },
    {
        "id": "mqtt_out_simgps",
        "type": "mqtt out",
        "z": "flow_tab_gps_sim",
        "name": "Publicar GPS Simulado (retain)",
        "topic": "geofence/simulated_gps",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug_simgps",
        "type": "debug",
        "z": "flow_tab_gps_sim",
        "name": "Debug GPS Simulado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 210,
        "wires": []
    },
    {
        "id": "fence_combiner",
        "type": "function",
        "z": "flow_tab_gps_sim",
        "name": "Combinar L\u00edmites Geofence",
        "func": "var min_lat = flow.get('fence_min_lat') || -34.9250;\nvar max_lat = flow.get('fence_max_lat') || -34.9150;\nvar min_lon = flow.get('fence_min_lon') || -57.9600;\nvar max_lon = flow.get('fence_max_lon') || -57.9450;\nif (msg.topic === 'min_lat') { flow.set('fence_min_lat', parseFloat(msg.payload)); return null; }\nif (msg.topic === 'max_lat') { flow.set('fence_max_lat', parseFloat(msg.payload)); return null; }\nif (msg.topic === 'min_lon') { flow.set('fence_min_lon', parseFloat(msg.payload)); return null; }\nif (msg.topic === 'max_lon') { flow.set('fence_max_lon', parseFloat(msg.payload)); return null; }\nmin_lat = flow.get('fence_min_lat') || -34.9250;\nmax_lat = flow.get('fence_max_lat') || -34.9150;\nmin_lon = flow.get('fence_min_lon') || -57.9600;\nmax_lon = flow.get('fence_max_lon') || -57.9450;\nmsg.payload = JSON.stringify({ min_lat: min_lat, max_lat: max_lat, min_lon: min_lon, max_lon: max_lon, timestamp: new Date().toISOString() });\nmsg.retain = true;\nnode.status({fill:'blue', shape:'dot', text:'Fence actualizado'});\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "mqtt_out_fence"
            ]
        ]
    },
    {
        "id": "mqtt_out_fence",
        "type": "mqtt out",
        "z": "flow_tab_gps_sim",
        "name": "Publicar Geofence Limits (retain)",
        "topic": "geofence/fence_update",
        "qos": "1",
        "retain": "true",
        "broker": "mqtt_broker_config",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "ui_lat_input",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Latitud",
        "label": "Latitud (ej: -34.9205)",
        "tooltip": "Ingrese la latitud simulada",
        "group": "ui_group_gps",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "lat",
        "sendOnBlur": true,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "gps_combiner"
            ]
        ]
    },
    {
        "id": "ui_lon_input",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Longitud",
        "label": "Longitud (ej: -57.9536)",
        "tooltip": "Ingrese la longitud simulada",
        "group": "ui_group_gps",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "lon",
        "sendOnBlur": true,
        "x": 130,
        "y": 170,
        "wires": [
            [
                "gps_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_min_lat",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Fence Min Lat",
        "label": "Fence Min Lat",
        "group": "ui_fence_group",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "min_lat",
        "sendOnBlur": true,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_max_lat",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Fence Max Lat",
        "label": "Fence Max Lat",
        "group": "ui_fence_group",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "max_lat",
        "sendOnBlur": true,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_min_lon",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Fence Min Lon",
        "label": "Fence Min Lon",
        "group": "ui_fence_group",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "min_lon",
        "sendOnBlur": true,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_max_lon",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Fence Max Lon",
        "label": "Fence Max Lon",
        "group": "ui_fence_group",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "max_lon",
        "sendOnBlur": true,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "ui_send_btn",
        "type": "ui_button",
        "z": "flow_tab_gps_sim",
        "name": "Enviar GPS",
        "group": "ui_group_gps",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "\ud83d\udce1 Publicar Coordenada Simulada",
        "tooltip": "Publica lat/lon en MQTT con retain",
        "color": "",
        "bgcolor": "#2E7D32",
        "icon": "fa-map-marker",
        "payload": "send",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "gps_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_btn",
        "type": "ui_button",
        "z": "flow_tab_gps_sim",
        "name": "Actualizar Geofence",
        "group": "ui_fence_group",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "\ud83d\udd32 Actualizar L\u00edmites Geofence",
        "tooltip": "Publica los nuevos l\u00edmites del geofence por MQTT",
        "color": "",
        "bgcolor": "#1565C0",
        "icon": "fa-square-o",
        "payload": "send",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 610,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "flow_tab_geofence_api",
        "type": "tab",
        "label": "API Geofence Per\u00edmetro",
        "disabled": false,
        "info": "API HTTP POST /api/update-fence desde Dashboard UI hacia MQTT geofence/config_update"
    },
    {
        "id": "http_in_update_fence",
        "type": "http in",
        "z": "flow_tab_geofence_api",
        "name": "POST /api/update-fence",
        "url": "/api/update-fence",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "func_format_fence_mqtt"
            ]
        ]
    },
    {
        "id": "func_format_fence_mqtt",
        "type": "function",
        "z": "flow_tab_geofence_api",
        "name": "Validar & Empaquetar ESP32 Payload",
        "func": "var body = msg.payload || {};\nvar vertices = body.vertices || [];\nif (!Array.isArray(vertices) || vertices.length < 3) {\n    msg.payload = { status: \"error\", message: \"Pol\u00edgono inv\u00e1lido: m\u00ednimo 3 v\u00e9rtices requeridos.\" };\n    msg.statusCode = 400;\n    return [null, msg];\n}\nvar min_lat = vertices[0].lat, max_lat = vertices[0].lat;\nvar min_lon = vertices[0].lon, max_lon = vertices[0].lon;\nfor (var i = 1; i < vertices.length; i++) {\n    if (vertices[i].lat < min_lat) min_lat = vertices[i].lat;\n    if (vertices[i].lat > max_lat) max_lat = vertices[i].lat;\n    if (vertices[i].lon < min_lon) min_lon = vertices[i].lon;\n    if (vertices[i].lon > max_lon) max_lon = vertices[i].lon;\n}\nvar esp32Payload = {\n    min_lat: Number(min_lat.toFixed(6)),\n    max_lat: Number(max_lat.toFixed(6)),\n    min_lon: Number(min_lon.toFixed(6)),\n    max_lon: Number(max_lon.toFixed(6))\n};\nvar mqttMsg = {\n    topic: \"geofence/config_update\",\n    payload: JSON.stringify(esp32Payload),\n    qos: 1,\n    retain: true\n};\nmsg.statusCode = 200;\nmsg.payload = {\n    status: \"success\",\n    message: \"Geofence actualizado con \" + vertices.length + \" v\u00e9rtices y publicado por MQTT.\",\n    topic: \"geofence/config_update\",\n    timestamp: Math.floor(Date.now() / 1000)\n};\nreturn [mqttMsg, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "mqtt_out_config_update"
            ],
            [
                "http_resp_update_fence"
            ]
        ]
    },
    {
        "id": "mqtt_out_config_update",
        "type": "mqtt out",
        "z": "flow_tab_geofence_api",
        "name": "MQTT geofence/config_update",
        "topic": "geofence/config_update",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "http_resp_update_fence",
        "type": "http response",
        "z": "flow_tab_geofence_api",
        "name": "HTTP 200 OK / 400 Error",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 770,
        "y": 180,
        "wires": []
    }
]