proyecto-final/backend-services/nodered/data/flows.json
[
    {
        "id": "flow_tab_mqtt_influx",
        "type": "tab",
        "label": "MQTT → InfluxDB",
        "disabled": false,
        "info": "Recibe heartbeats del gateway y los almacena en InfluxDB"
    },
    {
        "id": "flow_tab_telegram",
        "type": "tab",
        "label": "Bot Telegram (Placeholder)",
        "disabled": true,
        "info": "INSTRUCCIONES PARA ACTIVAR EL BOT DE TELEGRAM:\n\n1. Instalar el nodo: npm install node-red-contrib-telegrambot\n   (o desde la paleta de Node-RED: Manage Palette → Install)\n\n2. Crear un bot en Telegram hablando con @BotFather.\n   Usar /newbot y obtener el TOKEN.\n\n3. Reemplazar TODAS las ocurrencias de 'TU_TOKEN_AQUI'\n   en la configuración del nodo Telegram Receiver y Sender.\n\n4. Habilitar este flujo (click derecho → Enable).\n\n5. El bot responderá al comando /posicion con la última\n   coordenada almacenada en InfluxDB."
    },
    {
        "id": "flow_tab_gps_sim",
        "type": "tab",
        "label": "Dashboard — GPS Simulado",
        "disabled": false,
        "info": "Dashboard para inyectar coordenadas GPS simuladas y publicarlas por MQTT con retain"
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-geofence",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "influx_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "geofence_db",
        "name": "InfluxDB Geofence",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "ui_tab_geofence",
        "type": "ui_tab",
        "name": "Geofence Control",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ui_group_gps",
        "type": "ui_group",
        "name": "GPS Simulado",
        "tab": "ui_tab_geofence",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_fence_group",
        "type": "ui_group",
        "name": "Geofence Limits",
        "tab": "ui_tab_geofence",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3a8462147e0aff84",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "mqtt_in_heartbeat",
        "type": "mqtt in",
        "z": "flow_tab_mqtt_influx",
        "name": "Heartbeat MQTT",
        "topic": "geofence/heartbeat",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "parse_heartbeat"
            ]
        ]
    },
    {
        "id": "parse_heartbeat",
        "type": "function",
        "z": "flow_tab_mqtt_influx",
        "name": "Parsear Heartbeat",
        "func": "var data = msg.payload;\nvar fields = {\n    latitude: parseFloat(data.lat) || 0.0,\n    longitude: parseFloat(data.lon) || 0.0,\n    rssi: parseInt(data.rssi) || 0,\n    snr: parseFloat(data.snr) || 0.0,\n    battery: parseFloat(data.battery) || 0.0,\n    wake_count: parseInt(data.wake_count) || 0\n};\nvar tags = {\n    device_id: data.device_id || \"edge-unknown\",\n    fence_status: data.fence_status || \"UNKNOWN\"\n};\nmsg.payload = [fields, tags];\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "influx_write",
                "debug_heartbeat"
            ]
        ]
    },
    {
        "id": "debug_heartbeat",
        "type": "debug",
        "z": "flow_tab_mqtt_influx",
        "name": "Debug Heartbeat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "influx_write",
        "type": "influxdb out",
        "z": "flow_tab_mqtt_influx",
        "influxdb": "influx_config",
        "name": "Escribir InfluxDB",
        "measurement": "cattle_position",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "telegram_receiver",
        "type": "comment",
        "z": "flow_tab_telegram",
        "name": "⚠️ CONFIGURAR: Nodo 'telegram receiver' — Token: TU_TOKEN_AQUI",
        "info": "Pasos:\n1. Instalar node-red-contrib-telegrambot\n2. Agregar nodo 'telegram receiver'\n3. En la config del bot, poner el token de @BotFather\n4. Conectar la salida al nodo function de abajo\n\nComando esperado: /posicion",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "telegram_query_func",
        "type": "function",
        "z": "flow_tab_telegram",
        "name": "Consultar última posición (InfluxDB query)",
        "func": "msg.query = 'SELECT last(\"latitude\"), last(\"longitude\"), \"fence_status\" FROM \"cattle_position\" GROUP BY \"device_id\"';\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "telegram_format_response",
        "type": "function",
        "z": "flow_tab_telegram",
        "name": "Formatear respuesta Telegram",
        "func": "var results = msg.payload;\nvar text = '🐄 *Última posición del ganado:*\\n\\n';\nif (results && results.length > 0) {\n    results.forEach(function(r) {\n        text += '📍 Device: ' + (r.device_id || 'N/A') + '\\n';\n        text += '   Lat: ' + (r.last_latitude || 'N/A') + '\\n';\n        text += '   Lon: ' + (r.last_longitude || 'N/A') + '\\n';\n        text += '   Estado: ' + (r.fence_status || 'N/A') + '\\n\\n';\n    });\n} else {\n    text += 'No hay datos disponibles aún.';\n}\nmsg.payload = { chatId: msg.originalMessage.chat.id, type: 'message', content: text, options: { parse_mode: 'Markdown' } };\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "telegram_sender_comment",
        "type": "comment",
        "z": "flow_tab_telegram",
        "name": "⚠️ CONFIGURAR: Nodo 'telegram sender' — Token: TU_TOKEN_AQUI",
        "info": "Agregar nodo 'telegram sender' aquí.\nConfigurar con el mismo bot token de arriba.\nConectar la salida del nodo 'Formatear respuesta' a este sender.",
        "x": 340,
        "y": 320,
        "wires": []
    },
    {
        "id": "gps_combiner",
        "type": "function",
        "z": "flow_tab_gps_sim",
        "name": "Combinar Lat/Lon y Publicar",
        "func": "var lat = flow.get('sim_lat') || -34.9205;\nvar lon = flow.get('sim_lon') || -57.9536;\nif (msg.topic === 'lat') { flow.set('sim_lat', parseFloat(msg.payload)); return null; }\nif (msg.topic === 'lon') { flow.set('sim_lon', parseFloat(msg.payload)); return null; }\nlat = flow.get('sim_lat') || -34.9205;\nlon = flow.get('sim_lon') || -57.9536;\nmsg.payload = JSON.stringify({ lat: lat, lon: lon, timestamp: new Date().toISOString() });\nmsg.retain = true;\nnode.status({fill:'green', shape:'dot', text: lat.toFixed(4) + ', ' + lon.toFixed(4)});\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 170,
        "wires": [
            [
                "mqtt_out_simgps",
                "debug_simgps"
            ]
        ]
    },
    {
        "id": "mqtt_out_simgps",
        "type": "mqtt out",
        "z": "flow_tab_gps_sim",
        "name": "Publicar GPS Simulado (retain)",
        "topic": "geofence/simulated_gps",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug_simgps",
        "type": "debug",
        "z": "flow_tab_gps_sim",
        "name": "Debug GPS Simulado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 210,
        "wires": []
    },
    {
        "id": "fence_combiner",
        "type": "function",
        "z": "flow_tab_gps_sim",
        "name": "Combinar Límites Geofence",
        "func": "var min_lat = flow.get('fence_min_lat') || -34.9250;\nvar max_lat = flow.get('fence_max_lat') || -34.9150;\nvar min_lon = flow.get('fence_min_lon') || -57.9600;\nvar max_lon = flow.get('fence_max_lon') || -57.9450;\nif (msg.topic === 'min_lat') { flow.set('fence_min_lat', parseFloat(msg.payload)); return null; }\nif (msg.topic === 'max_lat') { flow.set('fence_max_lat', parseFloat(msg.payload)); return null; }\nif (msg.topic === 'min_lon') { flow.set('fence_min_lon', parseFloat(msg.payload)); return null; }\nif (msg.topic === 'max_lon') { flow.set('fence_max_lon', parseFloat(msg.payload)); return null; }\nmin_lat = flow.get('fence_min_lat') || -34.9250;\nmax_lat = flow.get('fence_max_lat') || -34.9150;\nmin_lon = flow.get('fence_min_lon') || -57.9600;\nmax_lon = flow.get('fence_max_lon') || -57.9450;\nmsg.payload = JSON.stringify({ min_lat: min_lat, max_lat: max_lat, min_lon: min_lon, max_lon: max_lon, timestamp: new Date().toISOString() });\nmsg.retain = true;\nnode.status({fill:'blue', shape:'dot', text:'Fence actualizado'});\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "mqtt_out_fence"
            ]
        ]
    },
    {
        "id": "mqtt_out_fence",
        "type": "mqtt out",
        "z": "flow_tab_gps_sim",
        "name": "Publicar Geofence Limits (retain)",
        "topic": "geofence/fence_update",
        "qos": "1",
        "retain": "true",
        "broker": "mqtt_broker_config",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "ui_lat_input",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Latitud",
        "label": "Latitud (ej: -34.9205)",
        "tooltip": "Ingrese la latitud simulada",
        "group": "ui_group_gps",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "lat",
        "sendOnBlur": true,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "gps_combiner"
            ]
        ]
    },
    {
        "id": "ui_lon_input",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Longitud",
        "label": "Longitud (ej: -57.9536)",
        "tooltip": "Ingrese la longitud simulada",
        "group": "ui_group_gps",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "lon",
        "sendOnBlur": true,
        "x": 130,
        "y": 170,
        "wires": [
            [
                "gps_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_min_lat",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Fence Min Lat",
        "label": "Fence Min Lat",
        "group": "ui_fence_group",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "min_lat",
        "sendOnBlur": true,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_max_lat",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Fence Max Lat",
        "label": "Fence Max Lat",
        "group": "ui_fence_group",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "max_lat",
        "sendOnBlur": true,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_min_lon",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Fence Min Lon",
        "label": "Fence Min Lon",
        "group": "ui_fence_group",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "min_lon",
        "sendOnBlur": true,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_max_lon",
        "type": "ui_text_input",
        "z": "flow_tab_gps_sim",
        "name": "Fence Max Lon",
        "label": "Fence Max Lon",
        "group": "ui_fence_group",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": 0,
        "topic": "max_lon",
        "sendOnBlur": true,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    },
    {
        "id": "ui_send_btn",
        "type": "ui_button",
        "z": "flow_tab_gps_sim",
        "name": "Enviar GPS",
        "group": "ui_group_gps",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "📡 Publicar Coordenada Simulada",
        "tooltip": "Publica lat/lon en MQTT con retain",
        "color": "",
        "bgcolor": "#2E7D32",
        "icon": "fa-map-marker",
        "payload": "send",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "gps_combiner"
            ]
        ]
    },
    {
        "id": "ui_fence_btn",
        "type": "ui_button",
        "z": "flow_tab_gps_sim",
        "name": "Actualizar Geofence",
        "group": "ui_fence_group",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "🔲 Actualizar Límites Geofence",
        "tooltip": "Publica los nuevos límites del geofence por MQTT",
        "color": "",
        "bgcolor": "#1565C0",
        "icon": "fa-square-o",
        "payload": "send",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 610,
        "wires": [
            [
                "fence_combiner"
            ]
        ]
    }
]